@model sitehero.Core.Data.Models.Aventure

@{
    ViewData["Title"] = "Nouvelle Aventure";
}

<h1>Nouvelle Aventure</h1>

<hr />
<div class="row text-center">
    <div class="col-md-12">
        <div class="card">
            <img class="card-img-top" src="~/images/newadventure.png" alt="jedi needs you" height="700">
            <div class="card-body">
                <h5 class="card-title">Choississez un nom pour votre aventure</h5>
                <p class="card-text">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
@*                            <label asp-for="Titre" class="control-label"></label>
*@                            <input asp-for="Titre" class="form-control" />
                            <span asp-validation-for="Titre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="C'est parti !" class="btn btn-primary my-3" />
                        </div>
                    </form>
                </p>
                <a asp-action="Index">Retour à la liste de vos aventures</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
